#root {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  height: 100vh;
  padding: 1rem;
  padding-top: 70px;
  overflow: hidden;
  overflow-y: auto;
}

h1, h2, h3 ,h4, h5, h6 {
  font-weight: normal;
}


.login {
  position: fixed;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

button.btn-icon, .btn-icon {
  background-color: transparent;
  border: 0;
  color: #fff;
} 

button.btn-icon i, .btn-icon i {
  font-size: 1.5rem;
}
.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 997;
  display: none;
}
.sidenav-overlay.active {
  display: block;
  opacity: 1;
}

.breadcrumbs {
  width: 100%;
}

.breadcrumb, .breadcrumb:hover{
  font-size: 18px;
  color: rgba(156, 39, 176, 0.7);
}

.breadcrumb:first-child:before {
  content: none; 
}

.breadcrumb:last-child {
  color: rgba(0, 0, 0, 0.7);
}

.breadcrumb:before {
  content: '\E5CC';
  color: rgba(0,0,0,0.5);
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}

.star-enter {
  opacity: 0;
  transform: translateX(100%);
}
.star-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms;
}
.star-exit {
  opacity: 1;
  transform: translateX(100%);
}
.star-exit-active {
  opacity: 0;
  transform: translateX(0);
  transition: all 150ms;
}

.product-form > div {
  vertical-align: top;
}

.product-form .avatar-image {
  width: 400px;
  border-radius: 0;
}

.product-form .avatar label {
  position: static;
  top: 0;
  left: 0;
  transform: translate(0);
  margin: 1rem auto;
  height: auto;
}

.product-form .avatar label i {
  font-size: 1.3rem;
}

.s6 {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.s8 {
  width: 66.666666666666666666666666666667%;
  display: inline-block;
  vertical-align: middle;
}

.s4 {
  width: 33.333333333333333333333333333333%;
  display: inline-block;
  vertical-align: middle;
}